/* Style par défaut */
.btn-menu,
.btn-close {
  display: none;
}

/* Style pour une petite taille d'écrans */
@media only screen and (max-width: 767px) {
  .btn-menu,
  .btn-close {
    display: inline;
  }

  .navbar,
  .navbar:target + .btn-menu {
    display: none;
  }

  .navbar:target {
    display: block;
  }
}
